# Created by https://www.gitignore.io/api/virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.python-version
__pycache__/
*.pyc
*.pdf
*.root
parameter.json
pipinstall.py
install_log
static/*upload

# End of https://www.gitignore.io/api/virtualenv
