{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}
<div class="container">
  <div class="text-center">
    <p><font size=64>Oops,</font></p>
    <p><font size=64>Page not found...</font></p>
    <img src="static/assets/images/travel_bag_mitsukaranai.png">
  </div>
</div>
{% endblock %}
