<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}

</style>
{% extends 'layout.html' %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class='container'>
    <div class='row align-items-center justify-content-center'>
      <div class='col'>

        <h1>ITk database for Yarr</h1>

      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row align-items-center justify-content-center'>
      <div class='col'>

        <h3>Chip Summary Page</h3>

      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row align-items-center justify-content-center'>
      <div class='col'>

        {% for FE in chips %}
        <!--<a data-toggle='collapse' href='#{{ FE }}' aria-controls='testindex' style='color: black;'>--!>
          <h4 style='font-size: 12pt;'><i class='fa fa-cog'></i> {{ FE }} ( {{ chips[FE]['num'] }} chips )</h4>
        <!--</a>--!>

          <!--table class='table table-sm collapse toppage' id={{ FE }} style='font-size: 10pt;'--!>
          <table class='table table-sm toppage' style='font-size: 10pt;'>
            <thead class='table-dark' style='background: #222222;'>
              <tr>
                <th scope='col' rowspan=2>Chip Name</th>
                <th scope='col' rowspan=2>Chip ID</th>
                <th scope='col' colspan=5>Latest Result</th>
              </tr>
                <th scope='col'>Stage</th>
                <th scope='col'>User</th>
                <th scope='col'>Site</th>
                <th scope='col'>Date</th>
                <th scope='col'>Link</th>
              <tr>
            </thead>
            <tbody>
              {% for chip in chips[FE]['chips'] %}
                <tr>
                  <td>
                    <a href='{{ url_for('show_component', id=chip['_id'], collection=chip['collection']) }}'>{{ chip['name'] }}</a>
                  </td>
                  <td>{{ chip['chipId'] }}</td>
                  <td>{{ chip['stage'] }}</td>
                  <td>{{ chip['user'] }}</td>
                  <td>{{ chip['site'] }}</td>
                  <td>{{ chip['datetime'] }}</td>
                  <td><a href='{{ url_for('show_component', id=chip['_id'], collection=chip['collection'], runId=chip['runId']) }}'>result page</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
