<style>
a.data:link { color: #3cb371; }
a.data:visited { color: #3cb371; }
a.data:hover { color: #ff8c00; }
a.data:active { color: #dc143c; }
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

    <div class="container">
        <div class="row align-items-top justify-content-center">
            <div class="col">

                {% if component['info'] %}
                    <h3>Componet: {{ component['info']['name'] }}</h3>
                {% endif %}
                {% if component['results'] %}
                    <h3>Result: {{ component['results']['info']['runNumber'] }}</h3>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row align-items-top justify-content-center">
            <div class="col">
                <h4 style='font-size: 13pt;'><i class='fa fa-cog'></i> Information</h4>
            </div>
        </div>
        <div class="row align-items-top justify-content-center">
            <div class="col-md-6">
                <h4 style='font-size: 10pt;'>
                {% if component['info'] %}
                <a class='data' data-toggle='collapse' href='#component' style='color: black;'>
                  <i class="fa fa-file"></i> Component 
                  <i class='fa fa-plus'></i>
                </a>
                {% endif %}
                </h4>
                {% if component['info'] %}
                    <table class="table table-sm table-bordered collapse" id='component' style="font-size: 8pt;">
                      <thead class="table-dark" style="background: #222222; border-style: none;">
                        <tr>
                          <th scope="col" class="text-center" width="100">Item</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="raw" class="text-center" width="100">
                            Serial Number 
                          </th>
                          <td>
                            {{ component['info']['name'] }} 
                          </td>
                        </tr>
                        <tr>
                          <th scope="raw" class="text-center" width="100">
                            Component Type
                          </th>
                          <td>
                            {{ component['info']['unit'] }}
                          </td>
                        </tr>
                        <tr>
                          <th scope="raw" class="text-center" width="100">
                            FE type
                          </th>
                          <td>
                            {{ component['info']['chipType'] }}
                          </td>
                        </tr>
                        {% if component['info']['module'] %}
                        <tr>
                          <th scope="raw" class="text-center" width="100">
                            Module
                          </th>
                          <td>
                            <a href="{{ url_for('show_component', id=component['info']['module']['_id'], collection=component['info']['module']['collection']) }}">{{component['info']['module']['name']}}</a>&ensp;
                          </td>
                        </tr>
                        {% endif %}
                        {% if component['info']['chips'] %}
                        <tr>
                          <th scope="raw" class="text-center" width="100">
                            Chips
                          </th>
                          <td>
                            {% for chip in component['info']['chips'] %}
                              <a href="{{ url_for('show_component', id=chip['_id'], collection=chip['collection']) }}">{{chip['name']}}</a>&ensp;
                            {% else %}
                              No match.
                            {% endfor %}
                          </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h4 style="font-size: 10pt;">
                {% if component['results'] %}
                <a class='data' data-toggle='collapse' href='#scan' style='color: black;'>
                  <i class="fa fa-file"></i> Scan 
                  <i class='fa fa-plus'></i>
                </a>
                {% endif %}
                </h4>
                {% if component['results'] %}
                    <table class="table table-sm table-bordered collapse" id='scan' style="font-size: 8pt;">
                      <thead class='table-dark' style='background: #222222;'>
                        <tr>
                          <th scope='col' class='text-center'>Key</th>
                          <th scope='col' class='text-center'>Data</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for key in component['results']['info'] %}
                          {% if key=='component' %}
                          <tr>
                            <th scope="raw" class='text-center'>{{ key }}</td>
                            <td class='text-center'>
                            {% for cmp in component['results']['info'][key] %}
                              <a href='{{ url_for('show_component', id=cmp['_id'], collection=cmp['collection'], runId=component['results']['runId']) }}'>{{cmp['name']}}</a><br>
                            {% endfor %}
                            </td>
                          </tr>
                          {% else %} 
                          <tr>
                            <th scope="raw" class='text-center'>{{ key }}</td>
                            <td class='text-center'>{{ component['results']['info'][key] | safe }}</td>
                          </tr>
                          {% endif %} 
                        {% endfor %}
                      </tbody>
                    </table>
                {% endif %}
            </div>

            <div class="col">
              <table class="table table-sm table-bordered" style="font-size: 8pt;">

                 {% if component['comments'] or session['logged_in']%}
                   <h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Comments</h4>
                   <thead class="table-dark" style="background: #222222;">
                       <tr>
                         <th scope="col" class="text-center">Comment</th>
                         <th scope="col" width=100 class="text-center">componentType</th>
                         <th scope="col" width=100 class="text-center">testlink</th>
                         <th scope="col" width=100 class="text-center">Name</th>
                         <th scope="col" width=100 class="text-center">Institution</th>
                         <th scope="col" width=100 class="text-center">Date</th>
                       </tr>
                   </thead>
                 {% endif %}

                 <tbody>
                   {% if component['comments'] %}
                     {% for comment in component['comments'] %}
                       <tr>
                         <th scope="col" class="text-left"><h4 style="font-size: 8pt;">{{ comment['comment'] | safe }}</h4></th>
                         <th scope="col" class="text-center"><h4 style="font-size: 8pt;"></h4>{{ comment['componentType'] }}</th>
                         <th scope="col" class="text-center"><h4 style="font-size: 8pt;"></h4>
                         {% if comment['runId'] == -1 %}
                           -
                         {% else %}
                           <a href="{{ url_for('show_component', id=comment['componentId'], collection=comment['collection'], runId=comment['runId']) }}">testlink</a>
                         {% endif %}      
                         </th>
                         <th scope="col" class="text-center"><h4 style="font-size: 8pt;">{{ comment['name'] }}</h4></th>
                         <th scope="col" class="text-center"><h4 style="font-size: 8pt;">{{ comment['institution'] }}</h4></th>
                         <th scope="col" class="text-center"><h4 style="font-size: 8pt;">{{ comment['datetime'] }}</h4></th>
                       </tr>
                     {% endfor %}      
                   {% endif %}

                   {% if session['logged_in'] %}  
                     <tr>
                       <form action="{{ url_for('edit_comment', id=component['_id'], collection=component['collection'], runId=session['runId']) }}" method="post" enctype="multipart/form-data">
                         <td scope="col" align="center" colspan="3"><textarea required="required" class="form-control input-normal" placeholder="comment" name = "text"></textarea></td>
                         <td scope="col" align="center" colspan="1"><input type="text" required="required" class="form-control input-normal" value = "{{ session['username'] }}" placeholder="name" name = "text2"></td>
                         <td scope="col" align="center" colspan="1"><input type="text" required="required" class="form-control input-normal" value = "{{ session['institution'] }}" placeholder="institution" name = "text3"></td>
                         <td scope="col" align="center middle" >
                     	    <input type="hidden" value="{{ session['user_name'] }}" name="user">
                           {{ session['user_name'] }}
                           <input type="hidden" name="runNumber" value={{ component['results']['runNumber'] }} >
                           <input type="hidden" name="id" value={{ component['_id'] }} >
                           <input type="hidden" name="unit" value={{ component['unit'] }} >
                           <p><input type = "submit" value = "submit"></p>
                         </td>
                       </form>
                     </tr>
                   {% endif %}      
                 </tbody>
              </table>
            </div>
        </div>

        {% if component['summary'] %}
          <br>
          {% include "summary_index.html" %}
        {% endif %}

        {% if component['results'] %}
          <br>
          {% include "result.html" %}
        {% endif %}

        {% if component['plots'] %} 
          <br>
          {% include "plot.html" %}
        {% endif %}

        {% if component['roots'] %} 
          <br>
          {% include "root.html" %}
        {% endif %}

        <!--
        {% if component['dcs'] %}
          <br>
	        {% include "dcs_data.html" %}
        {% endif %}
        --!>

        {% if component['resultIndex']['index'] %}
          <br>
          {% include "test_index.html" %}
        {% endif %}

    </div>
{% endblock %}
