<h4 style="font-size: 10pt;"><i class="fa fa-paint-brush"></i> PLOT </h4>
<div class="row align-items-center justify-content-center">
  <div class="col">
    <table class="table table-sm table-bordered" style="font-size: 7pt;">
      <thead class="table-dark" style="background: #222222;">
        <tr>
        {% for name in component['plots'] %}
          <th scope="col" class="text-center" colspan={{ component['plots'][name]['num'] }}>{{ name }}</th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for name in component['plots'] %}
          {% for plot in component['plots'][name]['plot'] %}
            <td scope="col" class="text-center">
            <a href="{{ url_for('show_plot', name=plot['name'], runId=component['results']['runId']) }}" target="_brank" rel="noopener noreferrer">
              <img src={{plot['url']}} title={{plot['name']}} width="80" height="80">
              </img>
            </a>
            </td>
          {% endfor %}
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
