{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Register(Reregister) your password</h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h4>Thank you for registering password.</h4>
        </div>
      </div>
    </div>
  {% else %}
    
    <div class="container">
          <p>  You can register your password. </p>
            {% if stage == "input" %}
              <p>  Pin number will be sent to your Email address. </p>
            {% endif %}
            {% if stage == "confirm" %}
              <p>  Pin number was sent to your Email address. </p>
            {% endif %}
          <font color=#ff0000 size=2">* Required</font>
  
          <form class="form-holizontal" role="form" method="post" action="register_password" accept-charset="UTF-8">
                <div class="form-group row">
           		    <label class="col-form-label col-md-3" for="name">User Name<font color=#ff0000>*</font></label>
                  <div class="col-md-9">
                    {% if stage == "input" %}
           		        <input type="text" class="form-control" value="{{ userInfo[0] }}" placeholder="Input a user name" name="userinfo" id="name" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[0] }}" name="userinfo">
                      <p>{{ userInfo[0] }}</p>
                    {% endif %}
           		    </div>
                  {% if not nametext == _brank %}
                  <p><div class="col-md-3"></div><div class="col-md-9"><font color=#ff0000>{{ nametext }}</font></div></p>
                  {% endif %}
           		  </div>
          
                <div class="form-group row">
           		    <label class="col-form-label col-md-3">Email<font color=#ff0000>*</font></label>
                    <div class="col-md-9">
                     {% if stage == "input" %}
           		         <input type="text" class="form-control" value="{{ userInfo[1] }}" placeholder="Email" name="userinfo" required="required">
                     {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[1] }}" name="userinfo">
                      <p>{{ userInfo[1] }}</p>
                     {% endif %}
           		      </div>
            		 {% if not nametext2 == _brank %}
                    <p><div class="col-md-3"></div><div class="col-md-9"><font color=#ff0000>{{ nametext2 }}</font></div></p>
                 {% endif %}
        		    </div>
                 
                {% if stage == "confirm" %}
                  <div class="form-group row">
           		      <label class="col-form-label col-md-3">Pin Number<font color=#ff0000>*</font></label>
                      <div class="col-md-9">
           		          <input type="number" class="form-control" value="{{ userInfo[2] }}" placeholder="pin number" name="userinfo" maxlength="6" required="required">
           		        </div>
           		      {% if not nametext3 == _brank %}
                      <p><div class="col-md-3"></div><div class="col-md-9"><font color=#ff0000>{{ nametext3 }}</font></div></p>
                    {% endif %}
                  </div>
                  <div class="form-group row">
           		      <label class="col-form-label col-md-3">New password<font color=#ff0000>*</font></label>
                      <div class="col-md-9">
           		          <input type="password" class="form-control" value="{{ userInfo[3] }}" placeholder="New password" minlength='8' name="userinfo" required="required">
           		        </div>
           		    </div>
                  <div class="form-group row">
           		      <label class="col-form-label col-md-3">New password(Confirm)<font color=#ff0000>*</font></label>
                      <div class="col-md-9">
           		          <input type="password" class="form-control" value="{{ userInfo[4] }}" placeholder="New password(Confirm)" minlength='8' name="userinfo" required="required">
           		        </div>
           		        {% if not nametext4 == _brank %}
                        <p><div class="col-md-3"></div><div class="col-md-9"><font color=#ff0000>{{ nametext4 }}</font></div></p>
                      {% endif %}
            		    </div>
                {% endif %}
                
           		  <div class="form-group row align-items-center justify-content-center">
                  <div class="col-md-12">
                  {% if stage == "input" %}
            	        <button type="submit" class="btn btn-primary btn-block" name="stage" value="confirm">Confirm</button>
                  {% elif stage == "confirm" %}
            	        <button type="submit" class="btn btn-primary btn-block" name="stage" value="request">Register</button>
                  {% endif %}
                  </div>
                </div>
          </form>
          
    </div>
  {% endif %}

{% endblock %}
