<style>
ul {
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}
ul.page-list {
  display: inline;
}

table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}

</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>ITk database for Yarr</h1>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h3>Scan Summary Page</h3>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <table class="table table-sm toppage" style="font-size: 10pt;">
          <div style="text-align: center; font-size: 14px;">
            <ul class="page-list">
              {% if scans['now_cnt']!=0 %}
              <li style="display: inline;">
                <a href="{{ url_for('show_scans', p=0) }}">&#8810;</a>
              </li>
              {% endif %}
              {% for i in scans['cnt'] %}
                {% if i==scans['now_cnt'] %}
                <li style="display: inline; font-weight: bolder">
                {% else %}
                <li style="display: inline;">
                {% endif %}
  	              <a href="{{ url_for('show_scans', p=i) }}">{{i+1}}</a>
                </li>
              {% endfor %}
              {% if scans['now_cnt']!=scans['max_cnt'] %}
              <li style="display: inline;">
                <a href="{{ url_for('show_scans', p=scans['max_cnt']) }}">&#8811;</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <thead class="table-dark" style="background: #222222;">
            <tr>
              <th scope="col" rowspan=2>Module Name</th>
              <th scope="col" rowspan=2>Chip Name</th>
              <th scope="col" colspan=5>Test Data</th>
            </tr>
            <tr>
              <th scope="col">Test Type</th>
              <th scope="col">User</th>
              <th scope="col">Site</th>
              <th scope="col">Date</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            {% for run_data in scans["run"] %}
              {% if run_data['plots'] %}
              <tr>
              {% else %}
              <tr style="background: #AABBCC;">
              {% endif %}
                <td>
                {% for component in run_data['components'] %}
                  {% if component['chip_id']=='module' %}
                    <font>{{component['name']}}</font><br>
                  {% endif %}
                {% endfor %}
                </td>
                <td>
                {% for component in run_data['components'] %}
                  {% if not component['chip_id']=='module' %}
                    {% if component['enabled'] %}
                    <a href="{{ url_for('show_component', id=component['_id'], collection=component['collection']) }}"><font>{{component['name']}}</font></a><br>
                    {% else %}
                    <font color="BBBBBB">{{component['name']}}</font><br>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </td>
                <td>{{ run_data["testType"] }}</td>
                <td>{{ run_data["user"] }}</td>
                <td>{{ run_data["site"] }}</td>
                <td>{{ run_data["datetime"] }}</td>
                <td>
                  <a href="{{ url_for('show_component', runId=run_data["_id"], collection='chip') }}">result page</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
