{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h1>Account Request Form</h1>
      </div>
    </div>
  </div>

  {% if stage == "request" %}
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">
          <h4>Thank you for signing up</h4>
          <p>Please wait until administrator approve your request.</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
          <p>  You can request a new account using this form. All account requests will be reviewed by an administrator before approval.</p>
          <font color=#ff0000 size=2">* Required</font>
  
          <form class="form-holizontal" role="form" method="post" action="signup" accept-charset="UTF-8">
                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="name">User Name<font color=#ff0000>*</font></label>
                  <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="text" class="form-control" value="{{ userInfo[0] }}" placeholder="Request a user name" name="userinfo" id="name" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[0] }}" name="userinfo">
                      <p>{{ userInfo[0] }}</p>
                    {% endif %}
           		    </div>
                  {% if not nametext == _brank %}
                  <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ nametext }}</font></div></p>
                  {% endif %}
           		  </div>
          
                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="firstname">First Name<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="text" class="form-control" value="{{ userInfo[1] }}" placeholder="Your first name" name="userinfo" id="firstname" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[1] }}" name="userinfo">
                      <p>{{ userInfo[1] }}</p>
                    {% endif %}
           		    </div>
           		  </div>
          
                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="lastname">Last Name<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="text" class="form-control" value="{{ userInfo[2] }}" placeholder="Your last name" name="userinfo" id="lastname" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[2] }}" name="userinfo">
                      <p>{{ userInfo[2] }}</p>
                    {% endif %}
           		    </div>
           		  </div>
          
                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="email">Email<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
           		        <input type="email" class="form-control" value="{{ userInfo[3] }}" placeholder="Your email address" name="userinfo" id="email" required="required">
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[3] }}" name="userinfo">
                      <p>{{ userInfo[3] }}</p>
                    {% endif %}
           		    </div>
           		  </div>
           
                <div class="form-group row">
           		    <label class="col-form-label col-md-2" for="email">institution<font color=#ff0000>*</font></label>
                   <div class="col-md-10">
                    {% if stage == "input" %}
           		        <select class="form-control" name="userinfo" id="institution" required="required" value="{{ userInfo[4] }}">
                        <option value="">*** choose your institution ***</option>
                        <option value="tokyotech">tokyotech</option>
                        <option value="kyushu">kyushu</option>
                      </select>
                    {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[4] }}" name="userinfo">
                      <p>{{ userInfo[4] }}</p>
                    {% endif %}
            		    </div>
           		  </div>
  
                {% if stage == "input" %}
           		    <div class="form-group row">
           		    <label class="col-form-label col-md-2">Password<font color=#ff0000>*</font></label>
                    <div class="col-md-10">
           		        <input type="password" class="form-control" value="{{ userInfo[5] }}" placeholder="Your password" name="userinfo" required="required">
           		      </div>
           		    </div>
          
           		    <div class="form-group row">
           		    <label class="col-form-label col-md-2">Confirm Password<font color=#ff0000>*</font></label>
                    <div class="col-md-10">
           		          <input type="password" class="form-control" value="{{ userInfo[6] }}" placeholder="Re-Enter your Password" name="userinfo" required="required">
           		      </div>
                    {% if not passtext == _brank %}
                    <p><div class="col-md-2"></div><div class="col-md-10"><font color=#ff0000>{{ passtext }}</font></div></p>
                    {% endif %}
           		    </div>
                {% elif stage == "confirm" %}
           		        <input type="hidden" value="{{ userInfo[5] }}" name="userinfo">
           		        <input type="hidden" value="{{ userInfo[6] }}" name="userinfo">
                {% endif %}
    
           		  <div class="form-group row align-items-center justify-content-center">
                  <div class="col-md-10">
                  {% if stage == "input" %}
            	        <button type="submit" class="btn btn-primary btn-block" name="stage" value="confirm">Confirm</button>
                  {% elif stage == "confirm" %}
            	        <button type="submit" class="btn btn-primary btn-block" name="stage" value="input">Back page</button>
            	        <button type="submit" class="btn btn-primary btn-block" name="stage" value="request">Request</button>
                  {% endif %}
                  </div>
                </div>
          </form>
          
    </div>
  {% endif %}

{% endblock %}
