<h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Stage Results </h4>

<!-- {% if session['logged_in'] == True %}
  <div class="row align-items-top">
    <div class="col">
      <a href="{{ url_for('select_summary', id=component['_id']) }}">Add summary</a>
    </div>
  </div>
{% endif %}-->

<div class="row align-items-top">
{% if component['info']['chipType'] == 'FE-I4B' %}
    {% set index = [] %}
    {% set _=index.append("digitalscan") %}
    {% set _=index.append("analogscan") %}
    {% set _=index.append("thresholdscan") %}
    {% set _=index.append("totscan") %}
    {% set _=index.append("noisescan") %}
    {% set _=index.append("selftrigger") %}
{% endif %}
{% if component['info']['chipType'] == 'RD53A' %}
    {% set index = [] %}
    {% set _=index.append("std_digitalscan") %}
    {% set _=index.append("std_analogscan") %}
    {% set _=index.append("std_thresholdscan") %}
    {% set _=index.append("std_totscan") %}
    {% set _=index.append("std_noisescan") %}
    {% set _=index.append("std_exttrigger") %}
{% endif %}
  <div class="col">
{% for stage_results in component['summary'] %}
    <table class="table table-sm table-bordered" style="font-size: 7pt;">
      <h4 style="font-size: 10pt;"><i class="fa fa-chevron-right"></i> {{ stage_results['stage'] }}</h4>
      <thead class="table-dark" style="background: #222222;">
        <tr>
          {% for scan in index %}
            <th scope="col" class="text-center" colspan={{ stage_results['scan'][scan]['num'] }}>{{ scan }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for scan in index %}
            {% for summary in stage_results['scan'][scan]['map'] %}
              {% if not "total" in stage_results['scan'][scan] %}
              <td scope="col" class="text-center">
              {% elif stage_results['scan'][scan]['total'] == 1 %}
              {# <td scope="col" class="text-center" style="background: #e2ffd8"> #}
              <td scope="col" class="text-center">
              {% else %}
              {# <td scope="col" class="text-center" style="background: #ffe5e1"> #}
              <td scope="col" class="text-center">
              {% endif %}
                {{ summary['mapType'] }}
              </td>
            {% else %}
              <td scope="col" class="text-center">None.</td>
            {% endfor %}
          {% endfor %}
        </tr>
        {% if not stage_results['2Dnum'] == 0 %}
          <tr>
            {% for scan in index %}
              {% for summary in stage_results['scan'][scan]['map'] %}
                <td width="80" align="center">
                  {% if not 'code2D' in summary %}
                    <p style="font-size: 15pt;">None.</p> 
                  {% else %}
                    <a href="{{ url_for('show_summary', code=summary['code2D'], scan=scan, stage=stage_results['stage']) }}" target="_brank" rel="noopener noreferrer">
                      <img src={{ summary['url2Dthum'] }} title={{ summary['mapType'] }} width="80" height="80">
                      </img>
                    </a>
                  {% endif %}
                </td>
                {% else %}
                <td width="80" align="center">
                  <p style="font-size: 15pt;">None.</p> 
                </td>
              {% endfor %}
            {% endfor %}
          </tr>
        {% endif %}
        {% if not stage_results['1Dnum'] == 0 %}
          <tr>
            {% for scan in index %}
              {% for summary in stage_results['scan'][scan]['map'] %}
                <td width="80" align="center">
                  {% if not 'code1D' in summary %}
                  {% else %}
                    <a href="{{ url_for('show_summary', code=summary['code1D'], scan=scan, stage=stage_results['stage']) }}" target="_brank" rel="noopener noreferrer">
                      <img src={{ summary['url1Dthum'] }} title={{ summary['mapType'] }} width="80" height="60">
                      </img>
                    </a>
                  {% endif %}
                </td>
              {% else %}
                <td width="80" align="center">
                  <p style="font-size: 15pt;">None.</p> 
                </td>
              {% endfor %}
            {% endfor %}
          </tr>
        {% endif %}
      </tbody>
    </table>
{% endfor %}
  </div>
</div>
