{% set order = [] %}
{% set _=order.append( "digitalscan" ) %}
{% set _=order.append( "analogscan" ) %}
{% set _=order.append( "thresholdscan" ) %}
{% set _=order.append( "totscan" ) %}
{% set _=order.append( "noisescan" ) %}
{% set _=order.append( "selftrigger" ) %}
{% set _=order.append( "global" ) %}
{% set _=order.append( "pixel" ) %}
{% set _=order.append( "diff" ) %}
{% set index = [] %}
{% for orderedscan in order %}
  {% for scan in component['resultIndex'] %}
    {% if orderedscan in scan %}
      {% set _=index.append( scan ) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Scan Data</h4>
<div class="row align-items-top">
{% for scan in component['resultIndex']['index'] %}
  <div class="col-md-12">
  <a data-toggle="collapse" href='#{{ scan }}' aria-controls="testindex" style="color: black;"><h4 style="font-size: 10pt;"><i class="fa fa-chevron-right"></i> {{ component['resultIndex'][scan]['testType'] }} ( {{ component['resultIndex'][scan]['num'] }} )</h4></a>
    <table class="table table-sm table-hover table-bordered collapse" id='{{ scan }}'  style="font-size: 8pt;">
      <thead class="table-dark" style="background: #222222;">
        <tr>
          <th scope="col" class="text-center">Run Number</th>
          <th scope="col" class="text-center">Stage</th>
          <th scope="col" class="text-center">User</th>
          <th scope="col" class="text-center">Site</th>
          <th scope="col" class="text-center">Date</th>
          <th scope="col" class="text-center">Score</th>
          <th scope="col" class="text-center">Values</th>
        </tr>
      </thead>
      <tbody>
          {% for run in component['resultIndex'][scan]['run'] %}
          {% if run['summary'] %}
            <tr style="background: #FFEEAA;">
          {% elif run['result'] %}
            <tr>
          {% else %}
            <tr style="background: #AABBCC;">
          {% endif %}
              <td align="center">
                <a href="{{ url_for('show_component', id=component['_id'], collection=component['collection'], runId=run['_id']) }}">{{ run['runNumber'] }}</a>
              </td>
              <td align="center">{{ run['stage'] }}</td>
              <td align="center">{{ run['user'] }}</td>
              <td align="center">{{ run['site'] }}</td>
              <td align="center">{{ run['datetime'] }}</td>
              {% if run['score'] == 1 %}
              <td align="center" style="background: #e2ffd8;">
              {% elif run['score'] == 0 %}
              <td align="center" style="background: #ffe5e1;">
              {% else %}
              <td align="center">
              {% endif %}
                {{ run['rate'] }}
              </td>
              <td align="center">
              {% for chip in run['values'] %}
                  {{ run['values'][chip]['parameter'] }}
                <br>
              {% endfor %}
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
</div>

