<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}

</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>ITk database for Yarr</h1>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">
                <h2>Summary</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <a href="{{ url_for('show_modules_and_chips') }}"><h4 style="font-size: 12pt;"><i class="fa fa-cog"></i> Module Page</h4></a>
        <a href="{{ url_for('show_chips') }}"><h4 style="font-size: 12pt;"><i class="fa fa-cog"></i> Chip Page</h4></a>
        <a href="{{ url_for('show_scans') }}"><h4 style="font-size: 12pt;"><i class="fa fa-cog"></i> Test Page</h4></a>
      </div>
    </div>
  </div>

{% endblock %}
