{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->


  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>Chip Summary : {{serialNumber}}</h1>
    
        <table class="table table-sm table-hover table-striped">
          <thead>
            <tr>
              <th scope="col" rowspan="2">Date</th>
              <th scope="col" rowspan="2">Run Number</th>
              <th scope="col" rowspan="2">Test type</th>
              <th scope="col" rowspan="2">Institution</th>
              <th scope="col" colspan="3">Environment</th>
		        </tr>
		        <tr>
              <th scope="col">HV[V]</th>
              <th scope="col">temp[℃]</th>
              <th scope="col">stage</th>
		        </tr>
          </thead>
          <tbody>
            {% for item in index %}
              <tr>
                <td>{{ item.datetime }}</td>
                <td>{{ item.runNumber }}</td>
                <td>
                  <a href="{{ url_for('show_result_item', componentId=componentId, Id=item['_id'], serialNumber=serialNumber) }}">{{item.testType}}</a>
                </td>
                <td>{{ item.institution }}</td>
                <td>{{ item.environment.hv }}</td>
                <td>{{ item.environment.cool }}</td>
                <td>{{ item.environment.stage }}</td>
              </tr>
             {% if item._id == Id %}
                <tr>
                  <td colspan="7">
                      <p style="display: inline"><figure>
                      {% for result in results %}
                        <center>
                        <figcaption>{{result.filename}}</figcaption>
                        <a href={{result.url}} target="_brank">
                          <img src={{result.url}} title={{result.filename}} width="30%" height="30%">
                          </img>
                        </a>
                        </center>
                      {% endfor %}
                      </figure></p>
                  </td>
                </tr>
              {% endif %}
            {% else %}
              <tr>
                <td>No match.</td>
                <td>No match.</td>
                <td>No match.</td>
                <td>No match.</td>
                <td>No match.</td>
                <td>No match.</td>
                <td>No match.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}
