{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

    <div class="container">
        <div class="row align-items-top justify-content-center">
            <div class="col">

                {% if session['logged_in'] == True %}
                  <h1>{{ session['component'] }} Summary : {{ component['serialNumber'] }} (admin page)</h1>
                {% else %}
                  <h1>{{ session['component'] }} Summary : {{ component['serialNumber'] }}</h1>
                {% endif %}
      
                <table class="table table-sm table-bordered" style="font-size: 8pt;">
                  <h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Index</h4>
                  <thead class="table-dark" style="background: #222222;">
                    <tr>
                      <th scope="col" width="100">Item</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Serial Number 
                      </td>
                      <td>
                        {{ component['serialNumber'] }} 
                      </td>
                    </tr>
                    <tr>
                      <td>
                        FE type
                      </td>
                      <td>
                        {{ component['componentType'] }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Module
                      </td>
                      <td>
                        <a href="{{ url_for('show_module', id=component['moduleIndex']['_id']) }}">{{component['moduleIndex']['serialNumber']}}</a>&ensp;
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Chips
                      </td>
                      <td>
                        {% for chip in component['chipIndex'] %}
                          <a href="{{ url_for('show_chip', id=chip['_id']) }}">{{chip['serialNumber']}}</a>&ensp;
                        {% else %}
                          No match.
                        {% endfor %}
                      </td>
                    </tr>
                    {% for image in component['imageIndex'] %}
                    <tr>
                      <td>
                        {{ image['title'] }}
                      </td>
                      <td>
                        <a href={{ image['url'] }} target="_brank" rel="noopener noreferrer">
                          <img src={{ image['url'] }} title={{ image['filename'] }} width="250" height="250">
                          </img>
                        </a>
                        {% if session['logged_in'] == True %}
    								      <form action="{{ url_for('remove_attachment') }}" method="post">
                    		    <input type="hidden" name="type" value="module" />
                    		    <input type="hidden" name="id" value={{ component['_id'] }} />
                            <div class="form-horizontal">
                              <p>
    									    		   <button type="submit" class="btn" name="code" value="{{ image['code'] }}">remove</button>
    									    	  </p>
    									    	</div>
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                    {% if session['logged_in'] == True %}
                      <tr>
                        <td>
                          Picture
                        </td>
                        <td>
                          <h4>no picture</h4>
                          <h5 style="font-size: 10pt"> upload picture to database </h5>
  								        <form action="{{ url_for('add_attachment') }}" method="post" enctype="multipart/form-data">
                  	  	    <input type="hidden" name="type" value="module" />
                  	  	    <input type="hidden" name="id" value={{ component['_id'] }} />
                            <div class="form-horizontal">
                              <p>
                                <input type=file id=file name=file accept="image/*">
                              </p>
                              <p>
                 		      		   <h5 style="font-size: 10pt"> title : <input type="text" placeholder="title" name="title" id="title" /></h5>
                	       	    </p>
                              <p>
                  	  	    	   <h5 style="font-size: 10pt"> description : <input type="text" placeholder="description" name="description" id="description" /></h5>
                		      		</p>
                              <p>
  									      		   <button type="submit" class="btn">upload</button>
  									      	   </p>
  									      	 </div>
                          </form>
                        </td>
                      </tr>
                    {% endif %}
                  </tbody>
                </table>
            </div>
        </div>

        {% include "display_index.html" %}

        {% if component['dataIndex'][0] == _brank %}
        {% else %}
          {% if session['component'] == "module" %}
            {% include "result_module.html" %}
          {% elif session['component'] == "chip" %}
            {% include "result_chip.html" %}
          {% endif %}
        {% endif %}

        {% include "test_index.html" %}
    </div>
{% endblock %}
