{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->


  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>Module Summary : {{module[0]['serialNumber']}}</h1>

        {% if data[0]['testType'] == _brank %}
        {% else %}
          {% include "result_module.html" %}
        {% endif %}

        <table class="table table-sm table-hover table-striped" style="font-size: 10pt;">
          <h4>Index</h4>
          <thead>
            <tr>
              <th scope="col" width="100">Item</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                FE type
              </td>
              <td>
                {{index[0]['componentType']}}
              </td>
            </tr>
            <tr>
              <td>
                Chips
              </td>
              <td>
                {% for item in index %}
                  <a href="{{ url_for('show_result', id=item['_id'], serialNumber=item['chip']) }}">{{item.number}}</a>&ensp;
                {% else %}
                  No match.
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-sm table-hover table-striped" style="font-size: 10pt;">
          <h4>Scan result</h4>
          <thead>
            <tr>
              <th scope="col" width="100">Scan type</th>
              <th scope="col">Run number</th>
            </tr>
          </thead>
          <tbody>
            {% for s in scan %}
            <tr>
              <td>
                {{s['testType']}}
              </td>
              <td>
                {% for fig in s['runNumber'] %}
                  <a href="{{ url_for('analysis_root', id=module[0]['_id'], runNumber=fig) }}">{{fig}}</a>&ensp;
                {% else %}
                  No match.
                {% endfor %}
              </td>
		        </tr>
            {% else %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
