<style>
input[type="checkbox"] {
display: none;
}
input[type="checkbox"]:checked + label {
background: #ffffff;
color: #000000;
border: 2px solid #000000;
}
input[type="checkbox"]:checked + label:hover {
background-color: #ff6347;
color: #000000;
border: 2px solid #000000;
}
.label {
display: block; 
text-align: center;
cursor: pointer;
background-color: #ffffff;
color: #dddddd;
border: 2px solid #dddddd;
border-radius: 5px;
}
.label:hover {
background-color: #ff6347;
color: #efefef;
border: 2px solid #efefef;
}
</style>

{% if component['roots'] %} 
  <h4 style="font-size: 10pt;"><i class="fa fa-paint-brush"></i> ROOT </h4>
  {% if component['roots']['rootsw'] %}
    <hr color="#BBBBBB" width="80%" size="9">
    {% if session['logged_in'] == True %}
      {% if session['edit'] == 1 %}
        <div class="row align-items-top justify-content-center">
          <div class="col">
            <div class="row align-items-top justify-content-center">
              <form action="{{ url_for('add_summary', id=component['_id']) }}" method=post class=entries style="font-size: 8pt">  
                <p><input type = "submit" value = "add summary plot"></p>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  
    <div class="row align-items-top justify-content-center">
      <div class="col">
        {% if component['roots']['results'] == _brank %}
        <div style="font-size: 14pt;">{{component['roots']['results'][0]['comment']}}</div>
        {% else %}
        {% for result in component['roots']['results'] %}
        {% if loop.index %2 == 1 %}
        <div class="row align-items-top justify-content-space-evenly">
        {% endif %}
          <div class="col-md-4">
            <center>
              <p> {{result['filename']}} </p>
              <a href={{result['url']}} target="_brank" rel="noopener noreferrer">
                <img src={{result['url']}} title={{result['filename']}} width="300" height="300"></img>
              </a>
            </center>
          </div>
        {% if loop.index %2  == 0 %}
          <div class="col-md-4">
            <center>
              <h5 style="font-size: 10pt"> Settings 
              <p style="font-size: 8pt"> ( Dist:x-axis / Map:z-axis ) </p>
              </h5>
              <form class="form-holizontal" action="{{ url_for('makehisto', id=component['_id'], runNumber=component['roots']['results'][0]['runNumber'], runId=component['roots']['results'][0]['runId']) }}" method=post class=entries style="font-size: 10pt">  
              <input type="hidden" name="mapType" value={{result['mapType']}}>

              <div class="form-group row" style="font-size:8pt;">
                <div class="col-form col-md-4">parameter</div>
                <div class="col-form col-md-4">current</div>
                <div class="col-form col-md-4">change</div>
              </div>

              <div class="form-group row" style="align-items:center;">
                <div class="col-form col-md-4" style="margin:0px;">Min : </div>
                <div class="col-form col-md-4" style="margin:0px;">{{result['minValue']}}</div>
                <div class="col-form col-md-4" style="margin:0px;">
                  <input type = "number" class="form-control" name = "min" value = {{result['minValue']}} style="font-size:10pt;margin:0px;" min="0">
                </div>
              </div>

              <div class="form-group row" style="align-items:center;">
                <div class="col-form col-md-4" style="margin:0px;">Max : </div>
                <div class="col-form col-md-4" style="margin:0px;">{{result['maxValue']}}</div>
                <div class="col-form col-md-4" style="margin:0px;"> 
                  <input type = "number" class="form-control" name = "max" value = {{result['maxValue']}} style="font-size:10pt;margin:0px;" min="0"> 
                </div>
              </div>

              <div class="form-group row" style="align-items:center;">
                <div class="col-form col-md-4" style="margin:0px;">Bin : </div>
                <div class="col-form col-md-4" style="margin:0px;">{{result['binValue']}}</div>
                <div class="col-form col-md-4" style="margin:0px;">
                  <input type = "number" class="form-control" name = "bin" value = {{result['binValue']}} style="font-size:10pt;margin:0px;" min="1" step="1">
                </div>
              </div>

              <div class="form-group row" style="align-items:center;">
                <div class="col-form col-md-4" style="margin:0px;">Scale : </div>
                <div class="col-form col-md-4" style="margin:0px;">
                {% if result['setLog'] %}
                  Log
                {% else %}
                  Linear
                {% endif %}
                </div>
                <div class="col-form col-md-4" style="margin:0px;"> 
                  {% if result['setLog'] %}
                  <input type="checkbox" class="form-control" id={{result['mapType']}} name="log" style="margin:0px;" checked>
                  <label class="label" for={{result['mapType']}}>Log</label>
                  {% else %}
                  <input type="checkbox" class="form-control" id={{result['mapType']}} name="log" style="margin:0px;">
                  <label class="label" for={{result['mapType']}}>Log</label>
                  {% endif %}
                </div>
              </div>

              <div class="form-group row" style="align-items:center;">
                <div class="col-form col-md-4" style="margin:0px;"></div>
                <div class="col-form col-md-4" style="margin:0px;">
            	    <button type="submit" class="btn btn-outline-success btn-block" style="font-size:10pt;" name="root" value="set">
                    Set<br>Default
                  </button>
                </div>
                <div class="col-form col-md-4" style="margin:0px;"> 
            	    <button type="submit" class="btn btn-outline-success btn-block" style="font-size:10pt;" name="root" value="make">
                    Make<br>Histogram
                  </button>
                </div>

              </form>
            </center>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  {% else %}
    <hr color="#BBBBBB" width="80%" size="9">
  
    <div class="row align-items-top justify-content-center">
      <div class="col">
        <div class="row align-items-top justify-content-center">
          <font color=#ff0000 size=2">NO ROOT SOFTWARE</font>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
