<h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Test summary </h4>
<div class="row align-items-top">
{% set index = [] %}
{% set _=index.append("digitalscan") %}
{% set _=index.append("analogscan") %}
{% set _=index.append("thresholdscan") %}
{% set _=index.append("totscan") %}
{% set _=index.append("noisescan") %}
{% set _=index.append("selftrigger") %}
{% for stage_results in component['summary'] %}
    <div class="col">
      <table class="table table-sm table-bordered" style="font-size: 7pt;">
        <h4 style="font-size: 10pt;"><i class="fa fa-chevron-right"></i> {{ stage_results['stage'] }}</h4>
        <thead class="table-dark" style="background: #222222;">
          <tr>
            {% for scan in index %}
              <th scope="col" class="text-center" colspan={{ stage_results['scan'][scan]['num'] }}>{{ scan }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for scan in index %}
              {% for summary in stage_results['scan'][scan]['map'] %}
                <td scope="col" class="text-center">{{ summary['mapType'] }}</td>
              {% endfor %}
            {% endfor %}
          </tr>
          <tr>
            {% for scan in index %}
              {% for summary in stage_results['scan'][scan]['map'] %}
                <td width="150" align="center">
                  {% if summary['url2D'] == None %}
                    <p style="font-size: 15pt;">None.</p> 
                  {% else %}
                    <a href={{ summary['url2D'] }} target="_brank" rel="noopener noreferrer">
                      <img src={{ summary['url2D'] }} title={{ summary['mapType'] }} width="150" height="150">
                      </img>
                    </a>
                  {% endif %}
                </td>
              {% endfor %}
            {% endfor %}
          </tr>
          <tr>
            {% for scan in index %}
              {% for summary in stage_results['scan'][scan]['map'] %}
                <td width="150" align="center">
                  {% if summary['url1D'] == None %}
                  {% else %}
                    <a href={{ summary['url1D'] }} target="_brank" rel="noopener noreferrer">
                      <img src={{ summary['url1D'] }} title={{ summary['mapType'] }} width="150" height="100">
                      </img>
                    </a>
                  {% endif %}
                </td>
              {% endfor %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
{% endfor %}
</div>
 
