{% set index = [] %}
{% set _=index.append("digitalscan") %}
{% set _=index.append("analogscan") %}
{% set _=index.append("thresholdscan") %}
{% set _=index.append("totscan") %}
{% set _=index.append("noisescan") %}
{% set _=index.append("selftrigger") %}
{% if session['component'] == "chip" %}
  {% set _=index.append("globalpreamp") %}
  {% set _=index.append("pixelpreamp") %}
  {% set _=index.append("globalthreshold") %}
  {% set _=index.append("pixelthreshold") %}
  {% set _=index.append("tune_globalpreamp") %}
  {% set _=index.append("tune_pixelpreamp") %}
  {% set _=index.append("tune_globalthreshold") %}
  {% set _=index.append("tune_pixelthreshold") %}
{% endif %}

<h4 style="font-size: 13pt;"><i class="fa fa-cog"></i> Test index</h4>
<div class="row align-items-top">
{% for scan in index %}
  <div class="col-md-4">
   <a data-toggle="collapse" href='#{{ scan }}' aria-controls="testindex"><h4 style="font-size: 10pt;"><i class="fa fa-chevron-right"></i> {{ scan }} ( {{ component['resultIndex'][scan]['num'] }} )</h4></a>
    <div class="row align-items-top collapse" id={{ scan }}>
    <table class="table table-sm table-hover table-bordered" style="font-size: 7pt;">
      <thead class="table-dark" style="background: #222222;">
        <tr>
          <th scope="col" width="40" class="text-center">Run<br>number</th>
          <th scope="col" width="150" class="text-center">Date</th>
          <th scope="col" width="150" class="text-center">Stage</th>
        </tr>
      </thead>
      <tbody>
          {% for run in component['resultIndex'][scan]['run'] %}
          {% if run['summary'] %}
            <tr style="background: #FFEEAA;">
          {% elif run['result'] %}
            <tr>
          {% else %}
            <tr style="background: #AABBCC;">
          {% endif %}
              <td align="center">
                <a href="{{ url_for(component['url'], id=component['_id'], runNumber=run['runNumber'], runId=run['_id']) }}">{{ run['runNumber'] }}</a>
              </td>
              <td align="center">{{ run['datetime'] }}</td>
              <td align="center">{{ run['stage'] }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endfor %}
</div>

