{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->
  <ul class=entries>
  {% for result in tests %}
    <form action="{{ url_for('show_result_item') }}" method=post class=entries>  
      <input type="hidden" name="tType" value={{result.testType}}>
      <input type="hidden" name="runNumber" value={{result.runNumber}}>
      <button type="submit">{{result.testType}}
      </button>
    </form>
    {{tType}}
    {% if result.testType == tType %}
      <h3>test1</h3>
      {% for data in contents %}
        <h3>test</h3>
        {% if data.contentType == 'pdf' %}
          <!--object data={{data.url}} type="application/pdf" width="20%" height="20%"-->
          <iframe src={{data.url}} width="20%" height="20%">
          </iframe>
          <!--/object!-->
        {% elif data.contentType == 'png' %}
          <object data={{data.url}} type="image/png" width="20%" height="20%">
            <img src={{data.url}} width="20%" height="20%">
            </img>
          </object>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% else %}
    <li><em>No match.</em>
  {% endfor %}
  </ul>
{% endblock %}
