{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>Welcome to database for Yarr</h1>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>Summary</h1>
    
        <table class="table table-sm table-hover table-striped" style="font-size: 10pt;">
          <thead>
            <tr>
              <th scope="col" width="110">Module</th>
              <th scope="col" width="300">Chips</th>
              <th scope="col" width="110">FE type</th>
              <th scope="col" width="300">Created date</th>
            </tr>
          </thead>
          <tbody>
            {% for module in modules %}
              <tr>
                <td><a href="{{ url_for('show_module', id=module["_id"]) }}">{{ module["serialNumber"] }}</a></td>
                <td>
                {% for chip in module["chips"] %}
                  <a href="{{ url_for('show_chip', id=chip["_id"]) }}">{{ chip["number"] }}
                  </a>&ensp;
                {% endfor %}
                </td>
                <td>{{ module["chips"][0]["componentType"] }}</td>
                <td>{{ module["chips"][0]["datetime"] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
