{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>Welcome to database for Yarr</h1>

        <form action="{{ url_for('index_entry') }}" method=post class=entries>
        <li><h2>Collections</h2>
        {% for col in collections %}
          <h3><button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue" name="col" value={{col.collection}}>{{col.collection}}</button></h3>
        {% else %}
          <li><em>something errors</em>
        {% endfor %}
        </form>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

        <h1>Summary</h1>
    
        <table class="table table-sm table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Module</th>
              <th scope="col">Chips</th>
              <th scope="col">FE type</th>
              <th scope="col">Created date</th>
            </tr>
          </thead>
          <tbody>
            {% for module in modules %}
              {% set var = {'is_first_chip': true} %}
              {% for chip in module["chips"] %}
                <tr>
                  {% if var.is_first_chip %}
                    <td rowspan=4><a href="{{ url_for('show_summary', id=module["_id"], serialNumber=module["serialNumber"]) }}">{{ module["serialNumber"] }}</a></td>
                  {% endif %}
                    {% if var.update({'is_first_chip': false}) %}{% endif %}
                    <td><a href="{{ url_for('show_result', id=chip["_id"], serialNumber=chip["serialNumber"]) }}">{{ chip["serialNumber"] }}</a></td>
                    <td>{{ chip["componentType"] }}</td>
                    <td>{{ chip["datetime"] }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

{% endblock %}
