<footer class="bg-light" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="">&copy; 2019 ATLAS Japan ITk and <a href="http://www.hep.phys.titech.ac.jp/jlab">Tokyo Tech</a> with the great help of LBNL. <?php //All Rights Reserved.?></p>
        <p class="">Released under the GNU license, please read <a href="https://gitlab.cern.ch/akubota/web-app-db-yarr/blob/master/LICENSE.TXT" target="_blank">LICENSE.TXT</a></p>
        <p class=""><small>If found any problem, please contact to 
          <a href="https://gitlab.cern.ch/hoide" target="_blank">Hide Oide</a>,
          <a href="https://gitlab.cern.ch/eunchong" target="_blank">Eunchong Kim</a>,
          <a href="https://gitlab.cern.ch/akubota" target="_blank">Arisa Kubota</a>,
          <a href="https://gitlab.cern.ch/akubota" target="_blank">Hiroki Okuyama</a></small></p>
      </div>
    </div>
  </div>
</footer>
