<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">PIXEL MODULE DB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="ion-navicon"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul>
        <li class="nav-item dropdown">
        </li>

        <li class="nav-item"><a class="nav-link" href="links">Links</a></li>
      </ul>

      <form action="search" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <span class="navbar-text">
          &nbsp;Hello!&nbsp;
      </span>

      <form class="form-inline my-2 my-lg-0" method="POST">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-outline-secondary" type="submit"
          name="hoge" >hoge
      </button>
      </form>

    </div>
  </div>
</nav>
