<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="col-md-3">
      <a class="navbar-brand" href="/">PIXEL MODULE DB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="ion-navicon"></i></span>
      </button>
    </div class="col">

    <div class="col-md-7">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul>
          <li class="nav-item dropdown">
          </li>

          <li class="nav-item"><a class="nav-link" href="links">Links</a></li>
        </ul>

        <form action="search" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <span class="navbar-text">
            &nbsp;Hello!&nbsp;
        </span>

        <form class="form-inline my-2 my-lg-0" method="POST">
        <button class="btn btn-outline-success my-2 my-sm-0 btn-outline-secondary" type="submit"
            name="hoge" >hoge
        </button>
        </form>

      </div>
    </div class="col">
    <div class="col-md-2">
      {% if session['logged_in'] %}
        <p>sign out</p>
        <form action="/logout" method="POST">
          <input type="submit" value="sign out" class="btn btn-primary btn-large btn-block" >
        </form>
      {% else %}
        <form action="/login" method="POST">
        	<div class="login">
        		<div class="login-screen">
         
        			<div class="login-form">
        				  <div class="control-group" style="font-size: 10pt;">
        				  <input type="text" class="login-field" value="" placeholder="username" name="username">
        				  <label class="login-field-icon fui-user" for="login-name"></label>
        				  </div>
         
        				  <div class="control-group" style="font-size: 10pt;">
        				  <input type="password" class="login-field" value="" placeholder="password" name="password">
        				  <label class="login-field-icon fui-lock" for="login-pass"></label>
        				  </div>
         
                <input type="submit" value="Sign in" class="btn btn-info navbar-btn bg-dark" style="font-size: 10pt;">
        			</div>
        		</div>
        	</div>
        </form>
      {% endif %}
    </div class="col">
  </div>
</nav>
